.offers_page {
  --color-brown: #191308;
  --color-white: #ecebe4;
  --color-red: #982c1f;
  --color-orange: #c1452d;
  --bg-alt: #c9c9c9;
}

.offers_page {
  background-color: var(--color-brown);
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}

#banner {
  width: 100%;
  height: 400px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner > img {
  position: absolute;
}

.search_bar {
  position: relative;
  width: 30%;
  height: 10%;
}
.search_Backdrop {
  position: absolute;
  background-color: var(--color-brown);
  top: 10px;
  left: 12.5px;
  width: 100%;
  height: 100%;
}
.search_bar > input {
  transition: border 0.3s;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border: 2px solid var(--color-red);
  padding: 10px;
}
.search_bar > input:hover,
.search_bar > input:focus {
  border-radius: 0;
  outline: 0;
  border: 4px solid var(--color-red);
}
.search_bar>button{
    top:50%;
    right:5%;
    transform: translate(0,-50%);
    position:absolute;
    border: none;
    background-color: none;
}




#Off_Req_container {
  width: 90%;
  padding: 0;
  margin-left: 5%;
}
#Lending,
#Borrowing {
  width: 45%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
#Lending {
  margin-right: 10%;
}

#Lending > h2,
#Borrowing > h2 {
  color: var(--color-white);
}

.unit {
  width: 100%;
  background-color: var(--color-white);
  display:flex;
  align-items: center;
  padding: 10px ;
  
}
.unit:nth-child(2n) {
  background-color: var(--bg-alt);
}
.unit, .unit_left, .unit_right{
    justify-content: space-between;
}
.unit_left, .unit_right{
    height:100%;
    width: 45%;
    display: flex;
    align-items: center;
}

.pfp {
  display: inline-block;
  aspect-ratio: 1;
  height: 100%;
  width:auto;
  background-color: var(--bg-alt);
  border-radius: 50%;
}
.unit:nth-child(2n) .pfp {
  background-color: var(--color-white);
}
